@model IEnumerable<WebApplication1.Models.Wydawnictwo>

@{
    ViewData["Title"] = "Index";
}

<h1>Wydawnictwa</h1>

<p>
    <a asp-action="Create" class="link-offset-2 link-underline link-underline-opacity-0 link-opacity-75-hover">Dodaj wydawnictwo</a>
</p>
<table class="table table-bordered table-stripped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwa)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Szczegóły</a> 

                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edytuj</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Usuń</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>